#if($action.erroredEntities.size() > 0)
    #set($cp=$req.contextPath)
    <ul class="aui">
        #foreach($entity in $action.erroredEntities)
            #if(!$entity.title) ## If there's no title, this is probably a comment
                <li>Bad macro(s) in comment: <a href="${cp}${entity.urlPath}">$entity.owner.title</a></li>
            #else
                <li>Bad macro(s) in ${entity.type}: <a href="${cp}${entity.urlPath}">$entity.title</a></li>
            #end
        #end
    </ul>
#else
No macro errors could be found.
#end
