<html>
<head>
    <title>Brokinator</title>
</head>

<body>
    <form method="POST" class="aui">
        <h3>Run</h3>
        #form_xsrfToken()
        <input type="hidden" id="confirmed" name="confirmed" value="true"/>
        <input type="submit" value="Run"/>
    </form>
## TODO: Produce better reports. A user would currently have to click on each link to determine the culprit. It would be nicer if a sortable table could be output instead.
#if($action.erroredEntities.size() > 0)
    #set($cp=$req.contextPath)
    <ul class="aui">
        #foreach($entity in $action.erroredEntities)
            #if(!$entity.title) ## If there's no title, this is probably a comment
                <li>Bad macro(s) in comment: <a href="${cp}${entity.urlPath}">$entity.owner.title</a></li>
            #else
                <li>Bad macro(s) in ${entity.type}: <a href="${cp}${entity.urlPath}">$entity.title</a></li>
            #end
        #end
    </ul>
#else
No macro errors could be found.
#end

</body>
</html>